body{margin:0.5in;font-family:times} 
*{background:#fff !important;color:#000 !important;float:none !important;width:auto !important;height:auto !important;}
#context{margin:0 !important;padding:0}
#menu {display:none}, #topmenu, #thedrot, .meta, #comments, #commentform, #postcomment, #resplink, #footer{display:none}
#zag h1 span{font-size:small;display:block}
.second{display:none}
ul{display:none}
a{border:0;text-decoration:none;}
figure{margin-left: 100px;}
#HIDE{display:none};
p{ font-size: 50px; }
a img{border:0}
a:after{content:" (" attr(href) ") ";font-size: 150%;}
a[href^="/"]:after {content: " (http://www.aimweb.name" attr(href) ") ";}