.hColor{
	color: #f6bf26;
}
p{
	color: #2ab6db;
}
h1,h2
{
	color: #f6bf26;
}
ul
{
	list-style: none;
	color: #000;
	margin-bottom: 0px;
}
.forCod
{
	background-color: #f5f5f5;

}

.forCod td:first-child{
	border-right: 3px solid #6ce26c;
	

}
.forCod td li
{
	margin-left: -23px;
	color: #000 !important; 


}
body
{	 
height: 100% !important;

	background: linear-gradient(to top, #E01625 , #963B42 ,  #78040D , #F4616C, #5ccccc) no-repeat center center fixed;
	 background-size:cover;
}
li p 
{
	text-align:center;
}
h2{
	text-align:center;
}
h1{
	text-align:center;
}


body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}



.idTop
{
	text-align: right;
	font-size: 50px;
}

svg {
     margin-top: 5%;
    width: 41%;
    height: 64%;
}


.hColor{
	color: #f6bf26;
}
p{
	text-align: center;
}
h1,h2
{
	color: #f6bf26;
}
ul
{
	list-style: none;
	color: #000;
	margin-bottom: 0px;
}
.forCod
{
  background-image: url("../img/1.jpg");
  background-position: 50% 50%;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover !important;

}

.forCod td:first-child{
	border-right: 3px solid #6ce26c;
	

}
.forCod td li
{
	margin-left: -23px;
	color: #000 !important; 


}

/* form */
.block .form-horizontal{
  width: 22%;
  margin-left: auto;
  margin-right: auto;
} 
.form-horizontal .control-label{
  text-align: left;
}
.btn{
  width: 60%;
}

/*.parent {
      margin-top: 25%;
      position: fixed;
    width: 100%;
    height: 100%;
        box-sizing: content-box;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
  
    
    &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
    }
}

.block {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
    
    img {
        display: block;
        border: none;
    }
}
*/
.bodycenter{
	margin-top: 35%
}


.first {
  height: 300px;
}

.second {
  background-size: .12em 100%;
  font: 16em/1 Arial;

}

.text--line {
  font-size: 150%;
}
.second p{
  text-align: center;
}
svg {
     margin-top: 5%;
    width: 41%;
    height: 64%;
}
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 9s infinite linear;
          animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

 @media screen and (max-width: 600px) {
  body{
   background-size: cover !important;
  }
}

/*home */
.allcolor
{

  background-color: #F0F1F1;
}
.textbtn{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    white-space: normal;
    box-sizing: border-box;
    background-color: #ffa712;
    border-color: #ffa712;
}
.btnform
{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 25%

}
.forhr{
    width: 100%;
    color: black;
    height: 2px;
    background-color: #ffa712;
    margin-top: -3px;
}
.dropmenu
{
  width: 100%;
  border-top-color: #ffa712;
    background-color: #F0F1F1;
    margin-top: -1px;
}
