.hColor{
	color: #f6bf26;
}
p{
	color: #2ab6db;
}
h1,h2
{
	color: #f6bf26;
}
ul
{
	list-style: none;
	color: #000;
	margin-bottom: 0px;
}
.forCod
{
	background-color: #f5f5f5;

}

.forCod td:first-child{
	border-right: 3px solid #6ce26c;
	

}
.forCod td li
{
	margin-left: -23px;
	color: #000 !important; 


}
body
{  
	height: 100% !important;

	background: linear-gradient(to top, #E01625 , #963B42 ,  #78040D , #F4616C, #5ccccc) no-repeat center center fixed;
	 background-size:cover;
}
li p 
{
	text-align:center;
}
h2{
	text-align:center;
}
h1{
	text-align:center;
}










