@media screen and (max-width: 800px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
	.addaptiv
	{
    padding-right: 10%;
    padding-left: 10%;
	}
}


@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
