.owl-wrapper-outer {
	border: 1px solid #777;
	border-radius: 5px;
	overflow: hidden;
	background: white;
}

/* 1 квадратик карусели */
.carousel-element {
	padding: 30px;
	text-align: center;
	font-size: 300%;
	border-right: 1px solid #777;
}